h1 {
    color:#364958;
    font-size: 30px;
    font-family:verdana;
    background-color:#87BBA2;
    text-align:center;
}
body {
    background-color:#C9E4CA;
    font-family:verdana;
}
h2 {
    color:#3B6064;
}
h3 {
    color:#55828B;
}
h4 {
    color:#364958;
}
blockquote {
    font-style: italic;
}
.image {
    border: 4px groove #55828B;
    max-width: 100%;
    height: auto;
}
#climate {
    float:right;
    border: 4px groove #55828B;
}
#links {
    background-color:#87BBA2;
    border: 4px dotted #55828B;
}
.question {
    font-style:oblique;
    background-color:#55828B;
    color:#C9E4CA;
    margin-top:5px;
}
.box {
    border: 4px solid #55828B;
    margin-bottom:35px;
}
#button {
    margin-left:5px;
}
#picture {
    width:70%;
    margin-left:16%;
}
  
#amazon {
    margin-top:7px;
}