.parallax {
    background-image: url("Images/CPU2.png");
    height: 500px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    background-color:#173140;
    font-family:verdana;
}
h1 {
    color:#0085CC; 
}
h2 {
    color:#0085CC;
}
h3{
    color:#4AA2D0;
}
h4 {
    color:#91D1F2;
}
p {
    color:#C1C2C1;
}
ul {
    color:#C1C2C1;
}
#cycle {
    margin-left:5%;
    border: 4px solid #266C92;
}
#hover {
    display: none;
    color:#C1C2C1;
    height:30px;
    width:290px;
}
#hover1:hover + #hover {
      display: inline;
}
#link:link {
    color: white;
  
}
#link:visited {
    color: white;
}
#link:hover {
    color: yellow;
    text-decoration: underline;
}
.question {
    font-style:oblique;
    background-color:#6EA2CE;
    color:#173140;
    margin-top:5px;
}
.box {
    border: 4px solid #6EA2CE;
    margin-bottom:35px;
}
#label {
    color:#C1C2C1;
}